__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
wheels/
*.egg-info/

# virtual environments
.venv/
venv/
ENV/

# PyCharm ve IDE Settings 
.idea/
.vscode/

# api keys etc.
.env
*.md
multi-way-road-tripping